html{
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color: white;

}
.container{

  background-color: rgba(128, 128, 128, 0.6);
  padding: 20px;
}

.menu{
  float: right;
}
.menu li{
  border: solid rgb(245, 80, 10) 1px;
  background: orange;
  margin-right: 5px;
  padding: 15px;

  top: 0;
  display: inline;
}
.menu li:hover{
  background-color: grey;
}
.menu li a{
  color: white;
  text-decoration: none;
}

.parag{
  border:solid;
  border-style: none;
  background-color: white;
  border: outset;
}
.parag p{
  padding-left: 10px;
}
.header{
  color: orange;
}

footer{
  color: grey;
  float: right;
}
